*{
    font-family: 'Permanent Marker', cursive;
    width: auto;
}

body {
    background-color: plum;
}

h1 {
    margin-top: 5%;
    padding-top: 10px;
    text-align: center;
    font-family:'Permanent Marker', cursive;
}

.container{
    margin-top: 5%
}

h2 {
    color: cornflowerblue;
    text-align: center;
}


#main-bio,
#bio-image {
    float: left;
}

#main-bio {
    border: solid 5px;
    border-color: cornflowerblue; 
    background-color: white;
    padding: 10px;

}

#main-bio p {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.form-group {
    background-color: cornflowerblue;
    padding: 10px;
    margin: auto;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    font-weight: bold
}

.form-group input {
    text-align: center;
    border: 1px solid black; 
}

.w3-row-padding {
    margin: auto;
}

.w3-row-padding img{
    position: relative;
    margin-left: 20%;
    height: 200px;
    width: 200px;
    padding: 20px;
}